<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iWasHere.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-fiori.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.fiori.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common-nova.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.common-nova.min.css"
              asp-fallback-test-class="k-common-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.nova.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.nova.min.css"
              asp-fallback-test-class="k-theme-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">iWasHere.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/LandmarkType">LandmarkType</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/LandmarkPeriod">LandmarkPeriod</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/Country">Country</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/County">County</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/Cities">Cities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Dictionary/TicketType">TicketTypes</a>
                            </li>*@
                        <li class="nav-item">
                            <div class="dic">
                                @(Html.Kendo().Menu()
                                      .Name("Menu")
                                      .Items(items =>
                                              {
                                                  items.Add().Text("Home").Url("/Home/Index");
                                                  items.Add().Text("Privacy").Url("/Home/Privacy");
                                                  items.Add()
                                                      .Text("Dictionary").Url("/Dictionary/Index")
                                                      .Items(children =>
                                                      {
                                                          children.Add().Text("Landmark").Url("/Dictionary/LandmarkType")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("Landmark Types").Url("/Dictionary/LandmarkType");
                                                              innerChildren.Add().Text("Add Landmark Type ").Url("/Dictionary/AddEditLandmarkType");
                                                              innerChildren.Add().Text("Add Landmark").Url("/Home/AddLandmark");
                                                              innerChildren.Add().Text("Review Landmark").Url("/Dictionary/AddReview");

                                                          });

                                                  children.Add().Text("Landmark Period").Url("/Dictionary/LandmarkPeriod")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("Landmark Period").Url("/Dictionary/LandmarkPeriod");
                                                              innerChildren.Add().Text("Add Landmark Period").Url("/Dictionary/AddEditLandmarkPeriod");

                                                          });

                                                  children.Add().Text("Country").Url("/Dictionary/Country")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("Country").Url("/Dictionary/Country");
                                                              innerChildren.Add().Text("Add Country").Url("/Dictionary/AddDictionaryCountry");

                                                          });

                                                  children.Add().Text("County").Url("/Dictionary/County")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("County").Url("/Dictionary/County");
                                                              innerChildren.Add().Text("Add County").Url("/Dictionary/AddEditCounty");

                                                          });
                                                 children.Add().Text("City").Url("/Dictionary/Cities")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("City").Url("/Dictionary/Cities");
                                                              innerChildren.Add().Text("Add New City").Url("/Dictionary/AddDictionaryCity");

                                                          });
                                               children.Add().Text("Currency").Url("/Dictionary/Currency")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("Currency").Url("/Dictionary/Currency");
                                                              innerChildren.Add().Text("Add Currency").Url("/Dictionary/AddDictionaryCurrencyType");

                                                          });
                                              children.Add().Text("TicketType").Url("/Dictionary/TicketType")
                                                          .Items(innerChildren =>
                                                          {
                                                              innerChildren.Add().Text("TicketType").Url("/Dictionary/TicketType");
                                                              innerChildren.Add().Text("Add TicketType").Url("/Dictionary/AddEditTicketType");

                                                          });

                                              });

                                      })
                                      .Direction(ViewBag.Direction)
                                )
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - iWasHere.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


