@model iWasHere.Domain.Models.LandmarkReview

@{
    ViewData["Title"] = "AddComment";
}

<!DOCTYPE html>

<html>
@*to align center*@
<body>
    <h4>LandmarkReview</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddComment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input asp-for="UserId" class="form-control" value="anonim" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Review title</label>
                    <input asp-for="ReviewTitle" class="form-control" />
                    <span asp-validation-for="ReviewTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Comment</label>
                    <input asp-for="ReviewComment" class="form-control" /> @*de adaugat un height aici*@
                    <span asp-validation-for="ReviewComment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*asta se va lua automat cand apesi adauga comment din pagina anterioara*@
                    <label asp-for="LandmarkId" class="control-label"></label>
                    <input asp-for="LandmarkId" class="form-control" />
                    <span asp-validation-for="LandmarkId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Comment with the account you are logged in&nbsp;&nbsp;</label>
                    <input type="checkbox" id="myCheck" onclick="checkuser()">
                    @*<span asp-validation-for="UserId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label class="control-label">Rating</label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>
                        <input type="submit" value="Save comment" class="btn btn-dark" />
                        <button type="submit" class="btn btn-danger" onclick="cancel()">Cancel</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<style>
    input[type=checkbox] {
        transform: scale(1.3);
    }
</style>
<script>
    function cancel() {
        //window.location = '/Dictionary/LandmarkDetails';
    }

//function checkuser() {
//var checkBox = document.getElementById("myCheck");
//if (checkBox.checked == true)
// set variable id to instance of logged user.
//}
</script>
