@model iWasHere.Domain.Models.DictionaryLandmarkType

@{
     ViewData["Title"] = "Adauga Dictionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Landmark Type</title>
</head>
<body>

<h4>DictionaryLandmarkType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add Landmark Type">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p id="txtId" style="display:none"></p>
            <div class="form-group">
                <label asp-for="DictionaryItemCode" class="control-label"></label>
                <input asp-for="DictionaryItemCode" id="txtCode" class="form-control" />
                <span asp-validation-for="DictionaryItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictionaryItemName" class="control-label"></label>
                <input asp-for="DictionaryItemName" id="txtName" class="form-control" />
                <span asp-validation-for="DictionaryItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" id="txtDescription" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btnAddModify" onclick="SaveChanges" class="btn btn-primary"> Create </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LandmarkType">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 <script>
     $(document).ready(function () {
         var url_string = window.location.href;
         var url = new URL(url_string);
         var c = url.searchParams.get("id");
         if (c != null) {
             $.ajax({
                 type: 'GET',
                 headers: {
                     'Cache-Control': 'no-cache'
                 },
                 url: '@Url.Action("GetLT", "Dictionary")',
                 data: { LandmarkTypeId: c },
                 success: function (response) {
                     $("#txtId").text(response[0].DictionaryItemId)
                     $("#txtCode").val(response[0].DictionaryItemCode);
                     $("#txtName").val(response[0].DictionaryItemName);
                     $("#txtDescription").val(response[0].Description);
                     //document.getElementById("btnAddModify").value = "Modify";

                 },
                 error: function (response) {
                     alert(response);

                 }
             })
         }
     })
     function SaveChanges() {
        var id = $("#txtId").text(response[0].DictionaryItemId)
        var code = $("#txtCode").val(response[0].DictionaryItemCode);
        var name = $("#txtName").val(response[0].DictionaryItemName);
        var description = $("#txtDescription").val(response[0].Description);
         $.ajax({
             type: 'GET',
             headers: {
                 'Cache-Control': 'no-cache'
             },
             url: '@Url.Action("AddEditLandmarkType", "Dictionary")',
             data: {
                 LandmarkTypeId: id,
                 LandmarkTypeCode: code,
                 LandmarkTypeName: name,
                 Description: description
             },
             success: function (response) {
                alert("A fost intodus")

             },
             error: function (response) {
                 alert(response);
                 alert("hai ca nu merge");
             }
         })
     }
 </script>
</body>
</html>
