@model iWasHere.Domain.Models.DictionaryTicketType

@{
    ViewData["Title"] = "AddEditTicketType";
}


@using (Html.BeginForm("Create", "TicketType", FormMethod.Post))
{
    <body onload="hideSaveNew()">
        <div class="bg">
            <center>
                <img src=@Url.Content("https://wallpaperplay.com/walls/full/c/3/0/320656.jpg") alt="LandmarkType" />
            </center>
        </div>
        <br />
        <div style="font-family: 'Source Sans Pro, sans-serif';">
            <h2>Add or edit a ticket type for team Marvel</h2>
        </div>

        <hr />
        <div class="row" style="font-family: 'Source Sans Pro, sans-serif';">
            <div class="col-md-4">
                <form asp-action="AddEditTicketType">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TicketTypeName" class="control-label"></label>
                        <input asp-for="TicketTypeName" class="form-control" id="test" />
                        <span asp-validation-for="TicketTypeName" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn btn-warning" onclick="redirect()">Save</button>
                        <button type="submit" class="btn btn-warning">Save and new</button>
                        <button type="submit" class="btn btn-danger" onclick="redirect()">Cancel</button>
                    </div>
                    <div class="form-group">


                    </div>
                </form>
            </div>
        </div>

        


        <style>

            .btn {
                background-color: #f4511e;
                border: none;
                color: white;
                padding: 10px 22px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
            }

                .btn:hover {
                    opacity: 1;
                }

            .bg {
                position: fixed;
                left: -500px;
                top: 71px;
                height: auto;
                width: 100%;
                opacity: 0.4;
            }
        </style>
    </body>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>


    function hideSaveNew() {
        var url = window.location.href
        if (url.indexOf("id") > -1) {
             document.getElementById("saveNew").style.display="none";
        }
    }

    function redirect() {
        window.location = '/Dictionary/TicketType';
    }
     
    //function saveNew() {
    //    function clear() {
    //         $('#test').val(null);
    //    }
    //    setTimeout(clear, 50);
    //}

   
    
</script>

