
@model iWasHere.Domain.Models.DictionaryLandmarkPeriod

@{
    ViewData["Title"] = "Adauga Interval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLandmarkPeriod</title>
</head>
<body>
    <div style="font-family: 'Source Sans Pro, sans-serif';">
        <h2>DictionaryLandmarkPeriod</h2>
    </div>

    <div class="bg">
        <center>
            <img src=@Url.Content("https://wallpaperplay.com/walls/full/c/3/0/320656.jpg") alt="Currency Imag" />
        </center>
    </div>
    <hr />
    <div class="row" style="font-family: 'Source Sans Pro, sans-serif';">
        <div class="col-md-6">

            <form asp-action="AddEditLandmarkPeriod">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input type="hidden" asp-for="LandmarkPeriodId" />
                    <label asp-for="LandmarkPeriodName" class="control-label"></label>
                    <input asp-for="LandmarkPeriodName" id="landPeriodlbl" class="form-control" />
                    <span asp-validation-for="LandmarkPeriodName" class="text-danger"></span>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-warning" id="Save" />
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="LandmarkPeriod" class="btn btn-danger">Cancel</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div>
        <a asp-action="LandmarkPeriod">Inapoi la lista</a>
    </div>

    <script>
    function redirect() {

          location.href = '@Url.Content("/Dictionary/LandmarkPeriod")';
    };

    function clearText()
{
    document.getElementById('landPeriodlbl').val(null);
}
    </script>

    <style>

        .btn {
            background-color: #f4511e;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
        }

            .btn:hover {
                opacity: 1;
            }

        .bg {
            position: absolute;
            left: 0;
            top: 71px;
            width: 100%;
            height: auto;
            opacity: 0.4;
        }
    </style>

</body>
</html>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");};
}
