@model iWasHere.Domain.Models.DictionaryCounty

@{
    ViewData["Title"] = "Adauga Judet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add County</title>
</head>
<body>

    <h4>DictionaryCounty</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add County">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CountyId" />
                <div class="form-group">
                    <label asp-for="CountyName" class="control-label"></label>
                    <input asp-for="CountyName" id="txtName" class="form-control" />
                    <span asp-validation-for="CountyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountyCode" class="control-label"></label>
                    <input asp-for="CountyCode" id="txtCode" class="form-control" />
                    <span asp-validation-for="CountyCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @(Html.Kendo().ComboBox()
                        .Name("countriesCB")
                        .Placeholder("Tara")
                        .DataTextField("CountryName")
                        .DataValueField("CountryId")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Filter(FilterType.Contains)
                        .AutoBind(false)
                        .MinLength(1)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetComboCountry", "Dictionary");
                            })
                            .ServerFiltering(true);
                        })
                    )
                </div>
                <input type="hidden" asp-for="CountryId" />>
                <div class="form-group">
                    <button id="btnAddModify" onclick="SaveChanges" class="btn btn-primary"> Add/Modify </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="County">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script>
        $(document).ready(function () {

        })

    </script>
</body>
</html>
