
@model iWasHere.Domain.Models.DictionaryLandmarkPeriod

@{
    ViewData["Title"] = "Adauga Interval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLandmarkPeriod</title>
</head>
<body>

    <h4>DictionaryLandmarkPeriod</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">

            <form asp-action="AddEditLandmarkPeriod">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input type="hidden" asp-for="LandmarkPeriodId" />
                    <label asp-for="LandmarkPeriodName" class="control-label" ></label>
                    <input asp-for="LandmarkPeriodName" id="landPeriodlbl" class="form-control"  />
                    <span asp-validation-for="LandmarkPeriodName" class="text-danger" ></span>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Salveaza" class="btn btn-primary btn-block" id="Save" />
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="LandmarkPeriod" class="btn btn-secondary btn-block">Renunta</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div>
        <a asp-action="LandmarkPeriod">Inapoi la lista</a>
    </div>
</body>
</html>
<script>
    function redirect() {

          location.href = '@Url.Content("/Dictionary/LandmarkPeriod")';
    };

    function clearText()
{
    document.getElementById('landPeriodlbl').val(null);
}
</script>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");};
}
