@model iWasHere.Domain.Models.DictionaryCity

@{
    ViewData["Title"] = "EditDictionaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family: 'Source Sans Pro, sans-serif';">
    <h2>Edit Dictionary City</h2>
</div>



<hr />
<div class="row" style="font-family: 'Source Sans Pro, sans-serif';">
    <div class="col-md-4">
        <form asp-action="EditDictionaryCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId" />
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CityCode" class="control-label"></label>
                <input asp-for="CityCode" class="form-control" />
                <span asp-validation-for="CityCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" id="btnSave" onClick="goBack()" class="k-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <form method="get" action="Cities">
        <button type="submit" class="k-primary">Back To List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function goBack() {
    
        window.location = '/Dictionary/Cities'
    }


</script>
<style>
    k-primary {
        width: 200px;
    }
</style>