@model IEnumerable<iWasHere.Domain.Models.DictionaryLandmarkType>

@{
    ViewData["Title"] = "Adauga Dictionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandmarkType</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="LandmarkType" method="get">
        <div class="row">
            <div class="text-right">
                <button type="submit" class="btn btn-primary ">Search</button>
            </div>
            <div class="form-group">
                <input type="text" name="SearchString" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="container mt-5">
            @(Html.Kendo().Grid(Model)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.DictionaryItemCode).Title("ItemCode");
                columns.Bound(p => p.DictionaryItemName).Title("ItemName");
                columns.Bound(p => p.Description);
            })
            .Pageable()
            .Sortable()
            .Scrollable(scr => scr.Height(500))
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
             )
            )
        </div>
     </form>
</body>
</html>
