@model IEnumerable<iWasHere.Domain.Models.DictionaryLandmarkType>

@{
    ViewData["Title"] = "Adauga Dictionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandmarkType</title>
</head>
<body>
    <p>
        <a asp-action="AddLandmarkType">Create New</a>
    </p>
    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryLandmarkType>()
          .Name("grid")
          .HtmlAttributes(new { style = "height: 500px;" })
          .Scrollable()
          .Groupable()
          .Sortable()
          .Filterable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetLandmarkType", "Dictionary"))
          )
    )



</body>
</html>
