@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @(Html.Kendo().ComboBox()
         .Name("fabric")
         .Filter(FilterType.Contains)
         .Placeholder("Select fabric...")
         .DataTextField("Text")
         .DataValueField("Value")
         .BindTo(new List<SelectListItem>() {
             new SelectListItem() {
               Text = "Cotton", Value = "1"
             },
             new SelectListItem() {
               Text = "Polyester", Value = "2"
             },
             new SelectListItem() {
               Text = "Cotton/Polyester", Value = "3"
             },
             new SelectListItem() {
               Text = "Rib Knit", Value = "4"
             }
         })
         .SelectedIndex(3)
         .Suggest(true)
         .HtmlAttributes(new { style = "width:100%;" })
    )

    <br />

   
    @*<div class="container">
            @for (var i = 0; i < 6; i++)
            {
                if (i == 0)
                {
                    @:<div class="row justify-content-center">
                    }

                    if (i % 3 == 0)
                    {
                    @:</div>
                    @:<div class="row justify-content-center">


                    }

                    <div class="card mt-3" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    if (i == 5)
                    {r
                    @:</div>
                }

            }*@
        </div>
    <p><br /></p>
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://i.imgur.com/KjgiWBr.png" alt="MissMarvel-logo">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Find your adventure with us</h3>
                    <p>Coming soon</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://i.imgur.com/9WhItE4.png" alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Eiffel Tower</h3>
                    <p>Paris,France</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://i.imgur.com/67Dyuu3.png" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Yellowstone National Park</h3>
                    <p>Wyoming, Montana,USA</p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

</div>
